@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components {

  .btn,
  button[type="submit"] {
    @apply flex w-full items-center justify-center py-2 px-4 bg-indigo-600 hover:shadow-[0_0_11px_indigo] focus:shadow-[0_0_15px_indigo] hover:opacity-90 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white transition ease-in duration-200 text-center text-base font-semibold focus:outline-none focus:ring-1 focus:ring-offset-1 rounded-lg;
  }

  .input {
    @apply rounded-lg border-transparent flex-1 appearance-none focus:border border-gray-200 shadow-[0_0_4px_gray] hover:shadow-[0_0_7px_gray] w-full py-2 px-4 bg-gray-950 text-gray-400 placeholder-gray-800 text-base transition duration-200;
  }

}